.container {
    max-width: 1280px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #fff;
    border: 1px var(--secondary-color) solid;
    border-radius: 12px;
    font-size: 24px;
}

.btn:hover {
    background-color: var(--primary-color);
    border: 1px var(--secondary-color) solid;
}

.form-alert {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid var(--green-color);
    color: var(--green-color);
}

.text-center {
    text-align: center;
}

.section-heading {
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 60px;
}

.section-padding {
    padding: 200px 0 170px;
}

.border:after {
    content: " ";
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #43466B;
    display: grid;
    width: 100%;
    margin: 22px 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}


/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {

    .section-heading {
        font-size: 65px !important;
        line-height: 1;
        margin-bottom: 114px;
    }

    .section-padding {
        padding: 124px 0 170px !important;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .section-heading {
        font-size: 80px;
    }

    .section-padding {
        padding: 120px 0 170px;
    }
}